#oferta{
	width: 100%;
	height: 100%;
	float: left;
	padding-top: 3%;
	padding-left: 13%;
	padding-bottom: 11.5%;
}

	.tituloCols{
		font-size:small;
		font-family:"Trebuchet MS";
		color: #4682B4;
		padding-left:12%;
		padding-bottom: 2%;
	}
	
	.cols{
		font-size:smaller;
		font-family:"Trebuchet MS";
	}

	.realizadoPor{
		font-size:10px;
		font-family:"Trebuchet MS";
		color: #4682B4;
	}