#contenedor{
	width: 100%;
	-webkit-border-radius: 10px;
	height:100%;
	margin-top: 10%;
	border:10px;
	background-color: red;
}

#formulario{
	font-size:smaller;
	font-family:"Trebuchet MS";
	-webkit-border-radius: 10px;
	border:10px;
	position:absolute;

}

.input{
	-webkit-border-radius: 8px;	
}

#olvido{
	color: black;
	font-size:smaller;
	font-family:"Trebuchet MS";
	text-decoration: none; 
}

#logo{
	-webkit-border-radius: 10px;
	width:30%; 
	height:30%;
	float: left;
	padding-left: 30%;
}

#formularioLogin{
	float: left;
	width: 60%;
	height:15%;
	padding-left: 36%;
	padding-top: 2%;	
}

#imagen{
	width: 60%;
	height: 100%;
	-webkit-border-radius: 10px;
}
